
/***主窗口样式***/
.jfx-decorator {
    -fx-decorator-color: derive(#009688, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 17;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -jfx-size: 15;
    -fx-background-color: WHITE;
}
/*******************/

/***上方工具栏样式***/
.toolbar{
    -fx-background-color:#009688;
    -fx-padding:10;
}

.path-label {
    -fx-font-size: 20.0px;
    -fx-padding: 0 0 0 20;
    -fx-text-fill: rgba(255, 255, 255, 0.90);
}

.search-box{
    -fx-font-size: 18.0px;
    -fx-padding:5;
    -fx-text-fill: rgba(255, 255, 255, 0.90);
}
/*******************/

/***图片缩略图与文字***/
.pic-list{
    -fx-padding: 15;
}

.pic-name{
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-font-size: 17.0px;
}