
.normal-text-b{
    -fx-font-size: 18.0px;
    -fx-padding: 10;
    -fx-text-fill: rgba(0, 0, 0, 0.90);
}

.normal-text-w{
    -fx-font-size: 18.0px;
    -fx-padding: 10;
    -fx-text-fill: rgba(255, 255, 255, 1);
}

.small-text-b{
    -fx-font-size: 16.0px;
    -fx-padding: 5;
    -fx-text-fill: rgba(0, 0, 0, 0.90);
}

.small-text-2{
    -fx-font-size: 16.0px;
    -fx-padding: 5;
    -fx-text-fill: rgba(255, 255, 255, 1.0);
}

.main-color{
    -fx-fill:#009688;
}

/***主窗口样式***/
.jfx-decorator {
    -fx-decorator-color: derive(#009688, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 17;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -jfx-size: 15;
    -fx-background-color: WHITE;
}
/*******************/

/***上方工具栏样式***/
.toolbar{
    -fx-background-color:#009688;
    -fx-padding:10;
}

.path-label {
    -fx-font-size: 18.0px;
    -fx-padding: 10 10 10 10;
    -fx-text-fill: rgba(255, 255, 255, 0.90);
}

.search-box{
    -fx-font-size: 18.0px;
    -fx-padding:5;
    -fx-text-fill: rgba(255, 255, 255, 1.0);
}
/*******************/

/***每个图片缩略图自己的内边距***/
/**/
.pic-list{
    -fx-padding: 15;
}

/***文件夹信息栏***/

.combo-box{
    -fx-padding:5px;
}

.normal-button{
    -fx-font-size: 18.0px;
    -fx-text-fill: rgba(0, 0, 0, 0.90);
    -fx-padding:8px;
}

.play-icon{
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
    -fx-background-color: #009688;
    -fx-background-radius: 60px;
}