.root {
    /* -fx-font-family: "Microsoft Yahei UI"; */
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
}

/***主窗口样式***/
.jfx-decorator {
    -fx-decorator-color: derive(#009688,-10%);
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 17;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -jfx-size: 15;
    -fx-background-color: WHITE;
}

/* 工具栏样式 */
.bottom-toolbar{
    -fx-background-color:rgba(50,50,50,0.65);
    -fx-background-radius: 11px;
    -jfx-rippler-fill:WHITE;
    /* -fx-padding:10; */
    -fx-font-size: 18.0px;
    /* -fx-padding: 10 10 10 10; */
    /* -fx-margin: 30px; */
}

.bottom-toolbar-button{
    -fx-text-fill: rgba(255, 255, 255, 0.9);
    -jfx-rippler-fill:WHITE;
    -fx-font-size: 18.0px;
    -fx-pref-width: 66px;
    -fx-pref-height: 66px;
    
    /* -fx-font-weight: BOLD; */
    -fx-padding: 3;
}

/*******************************************************************************
 *                                                                             *
 * JFX Dialog                                                                  *
 *                                                                             *
 ******************************************************************************/

 .jfx-dialog-overlay-pane {
    -fx-background-color: rgba(0.0, 0.0, 0.0, 0.3);
}

 .dialog-heading{
    -fx-font-size: 20.0px;
    -fx-font-family: "Roboto";
    /* -fx-font-weight: BOLD; */
 }

 .dialog-body{
    -fx-font-size: 18.0px;
 }

 .dialog-confirm-red{
    -fx-text-fill: RED;
    /* -fx-font-weight: BOLD; */
    -fx-font-size: 16.0px;
    -fx-padding: 0.7em 0.8em;
 }

 .dialog-confirm{
    -fx-text-fill: #009688;
    /* -fx-font-weight: BOLD; */
    -fx-font-size: 16.0px;
    -fx-padding: 0.7em 0.8em;
 }


 .dialog-cancel{
    -fx-text-fill: GRAY;
    -fx-font-size: 16.0px;
    /* -fx-font-weight: BOLD; */
    -fx-padding: 0.7em 0.8em;
 }


  /*******************************************************************************
 *                                                                             *
 * JFX SnackBar                                                                 *
 *                                                                             *
 ******************************************************************************/

 .jfx-snackbar-content {
    -fx-background-color: #323232;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}